%h3
  = I18n.t @meter_test.name
.meter-test-image
  = image_tag('')
%h4
  OCR Reading
.meter-test-ocr-result
= link_to I18n.t('meter-action.' + @meter_test.name), run_meter_test_path(@meter_test), class: 'run-meter-test rounded-panel', method: :post, remote: true
%h4.mt-4
  Quaco output
.meter-test-result