<section class="quaco-header">
    <div class="row margin-b-9">
        <div class="col-4 torque-container">
            <div class="form-inline">
                <button type="button" class="button_submit torque-toggle btn btn-primary pull-left" data-action="torque_on">TORQUE ON</button>
                <button type="button" class="button_submit torque-toggle btn btn-primary pull-right" data-action="torque_off">TORQUE OFF</button>
            </div>
        </div>
        <div class="col-5">
            <div class="form-inline get-pos">
                <input type="text" class="form-control">
                <button type="button" class="button_submit btn btn-primary label" data-action="get_pos">GET POS</button>
            </div>
        </div>
        <div class="col-3 operation">
            <label class="label">Operation</label>
            <div class="box"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <button type="button" class="button_submit btn btn-primary" data-action="home">HOME</button>
            <button type="button" class="button_submit btn btn-primary" data-action="get_status">GET STATUS</button>
        </div>
        <div class="col-8 command-operation">
            <div class="command-progess form-inline">
                <label class="inline-label">Command Status</label>
                <div class="progress margin-10">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        
    </div>
</section>