<div id="power_control" class="row nav-content">
    <div class="col-6">
        <div class="port-container">
            <div class="form-inline">
                <label class="inline-label">5 volt power out</label>
                <button type="button" data-value="power_restart" data-action="5_volt_power_out_on" class="btn btn-primary button_submit submit-button button_submit">ON</button>
                <button type="button" data-value="power_restart" data-action="5_volt_power_out_off" class="btn btn-primary button_submit submit-button button_submit">OFF</button>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container">
            <div class="form-inline">
                <label class="inline-label">2 volt power out</label>
                <button type="button" data-value="power_restart" data-action="2_volt_power_out_on" class="btn btn-primary button_submit submit-button button_submit">ON</button>
                <button type="button" data-value="power_restart" data-action="2_volt_power_out_off" class="btn btn-primary button_submit submit-button button_submit">OFF</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.toggle-switch').bootstrapToggle();
    })
</script>