<div id="rig_control" class="row nav-content">
    <div class="col-7">
        <div class="port-container">
            <h5>Rig Light</h5>
            <div class="col-4 torque-container">
                <div class="form-inline">
                    <button type="button" class="button_submit torque-toggle btn btn-primary pull-left" data-action="rig_light_on">ON</button>
                    <button type="button" class="button_submit torque-toggle btn btn-primary pull-right" data-action="rig_light_off">OFF</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="port-container">
            <h5>Buzzer</h5>
            <button type="button" class="button_submit torque-toggle btn btn-primary pull-right" data-action="buzzer_of">OFF</button>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container">
            <h5>DUT Profile Name</h5>
            <form class="form">
                <div class="row">
                    <div class="col-8">
                        <div class="form-inline">
                            <label class="point-label">name</label>
                            <input name="new_name" type="text" class="form-control">
                        </div>
                        <div class="form-inline">
                            <label class="point-label">index</label>
                            <input name="index" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" data-value="dut_profile_name_set" class="btn btn-primary submit-button">Set</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container">
            <h5>Robot Lift Axis</h5>
            
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.toggle-switch').bootstrapToggle();
    })
</script>