<div id="rig_control" class="row nav-content">
    <div class="col-6">
        <div class="port-container rig-control-container">
            <h5>Rig Light</h5>

            <button type="button" class="rig_light_button button_submit btn btn-primary pull-left" data-action="rig_light_on">ON</button>
            <button type="button" class="rig_light_button button_submit btn btn-primary pull-right" data-action="rig_light_off">OFF</button>
            <div class="clearfix"></div>
        
        </div>
    </div>
    <div class="col-6">
        <div class="controll-container port-container">
            <h5>Buzzer</h5>
            <button type="button" class="button_submit btn btn-primary pull-right buzzer_of" data-action="buzzer_of">OFF</button>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container">
            <h5>DUT Profile Name</h5>
            <form class="form">
                <div class="row">
                    <div class="col-8">
                        <div class="form-inline">
                            <label class="point-label">name</label>
                            <input name="new_name" type="text" class="form-control">
                        </div>
                        <div class="form-inline">
                            <label class="point-label">index</label>
                            <input name="index" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" data-value="dut_profile_name_set" class="btn btn-primary submit-button dut_profile_name_set">Set</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-6">
        <div class="port-container robot-axis-container">
            <h5>Robot Lift Axis</h5>
            <form class="form">
                <div class="row">
                    <div class="col-8">
                        <div class="form-inline">
                            <label class="point-label">height</label>
                            <input name="height" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" data-value="robot_lift_axis_move" class="btn btn-primary robot_lift_axis_move submit-button">move</button>
                    </div>
                </div>

            </form>
            <div class='api-response' ></div>
            <button type="submit" data-action="robot_lift_axis_z_axis_height" class="btn btn-primary button_submit submit-button robot_lift_axis_z_axis_height">z-Axis Height</button>
            
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.toggle-switch').bootstrapToggle();
    })
</script>