.ide
  .video-feedback
    = raw AppConfig.where(name: 'youtube_iframe').first.value
.container-fluid
  .container-box
    %section
      = render partial: 'header'

    %section
      %ul.nav.nav-tabs.custom-nav
        - if false
          %li.nav-item
            %a.nav-link{:href => "/test_induviduals/connections", class: action_name == 'connections' ? 'highlited-tab' : ''} 
              Connections
        %li.nav-item
          %a.nav-link{:href => "/test_induviduals/basic_motion", class: action_name == 'basic_motion' ? 'highlited-tab' : ''}
            Basic motion
        %li.nav-item
          %a.nav-link{:href => "/test_induviduals/advanced_mode", class: action_name == 'advanced_mode' ? 'highlited-tab' : ''}
            Advanced Motion
        %li.nav-item
          %a.nav-link{:href => "/test_induviduals/interpolated_mode", class: action_name == 'interpolated_mode' ? 'highlited-tab' : ''}
            Interpolated Motion
        %li.nav-item
          %a.nav-link{:href => "/test_induviduals/others", class: action_name == 'others' ? 'highlited-tab' : ''}
            Others
        %li.nav-item
          %a.nav-link{:href => "/test_induviduals/rig_control", class: action_name == 'rig_control' ? 'highlited-tab' : ''}
            Rig Control
        - if current_user && current_user.usertype == 'platform'  
          %li.nav-item
            %a.nav-link{:href => "/test_induviduals/power_control", class: action_name == 'power_control' ? 'highlited-tab' : ''}
              Power Control
    %section
      #nav-content
        = render partial: action_name
