.dashboard {
  overflow: auto;
  background: transparent;
  min-height: 100vh;
}
.ide {
  width: 100%;
  margin-top: 58px;
  max-width: 400px;
  display: grid;
}
.config-container {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  max-width: 500px
}

.code, .spec, .video-feedback {
  margin-top: 252px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 20px 20px 20px;
  background: floralwhite;
}
.code textarea, .spec textarea {
  min-height: 200px;
}
.result {
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 6px; 
  height: 250px;
  padding: 6px 20px 20px 20px;
  margin-bottom: 30px;
  background: floralwhite;
}
.result-line {
  margin-bottom: 6px;
}
.default-content {
  padding: 16px;
  overflow: auto;
  background: transparent;
  min-height: 100vh;
}
.code-tab, .spec-tab {
  display: inline-block;
  margin: -1px 20px;
  padding: 12px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right:  1px solid black;
  border-radius: 5px 5px 0px 0px;
}
.code-tab:hover, .spec-tab:hover {
  cursor: pointer;
}
.active {
  color: #221212;
  background: floralwhite;
}
.code textarea, .spec textarea {
  border: 1px solid black;
}
.test-list {
  padding: 16px;
  background-color: white;
}
.test-list .test {
  border-bottom: 1px solid black;
}
.request-demo {
  padding: 8px 12px;
  margin: 12px;
  display: inline-block;
  background: blue;
  color: yellow;
  border-radius: 4px;
}
.connection-action {
  padding: 8px 12px;
  margin: 12px;
  display: inline-block;
  background: blue;
  color: yellow;
  border-radius: 4px;
}
.demo-request {
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid black;
  height: 40px;
}
.request-list {
  background-color: #b9b5b5;
  padding: 16px;
  margin-bottom: 20px;
}
.nav-item {
  font-size: 18px;
}
a.highlited-tab {
  border-radius: 8px 8px 0px 0px !important;
  border-top: 1px solid blue !important;
  border-left: 1px solid blue !important;
  border-right: 1px solid blue !important;
}
button.torque-toggle.btn.btn-primary {
  padding: 6px;
  margin: auto;
  margin-left: 0px;
}
.buzzer_set_origin {
  padding: 0px;
  margin-left: 12px;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
}
.form-row input {
  width: 90px;
  margin-left: -5px;
}
.base-led-toggle {
  margin: 12px;
  padding: 12px;
}
.controll-container {
  height: 200px;
}
.robot-axis-container {
  height: 214px;
}
.dut_profile_name_set {
  padding: 40px !important;
  margin-top: 17px;
  margin-left: -18px;
}
.rig_light_button {
  padding: 30px !important;
  display: inline-block;
  margin-left: 20px;
}
.rig-control-container {
  height: 200px;
}
.buzzer_of {
  padding: 30px 92px !important;
  margin-left: 50px;
}
.move_xy_container {
  height: 217px;
}
.move_to_xy_plane_move {
  margin-left: -30px !important;
  padding: 29px !important;
}
.touch_event_move {
  margin-right: 23px !important;
}
.down-up-controll-container {
  margin: auto;
}
.video-feedback {
  margin-bottom: 12px;
}
.video-feedback iframe {
  width: 100%;
}
.box {
  font-size: 12px;
}
.video-feedback {
  position: relative;
}
.video-feedback-inner {
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.video-feedback-inner iframe {
  margin-top: -52px;
  margin-bottom: -61px;
}

.top-shadow {
  position: absolute;
  width: 93%;
  top: 20px;
  height: 82px;
  background-color: transparent;
}

.bottom-shadow {
  position: absolute;
  width: 92%;
  top: 150px;
  height: 81px;
  background-color: transparent;
}
.left-shadow {
  height: 210px;
  width: 146px;
  position: absolute;
}
.right-shadow {
  left: 227px;
  height: 212px;
  width: 151px;
  position: absolute;
}

.side-panel {
  padding: 12px;
  display: inline-block;
}
.interactive-pannel {
  display: inline-block;
  padding: 12px;
  width: 841px !important;
  padding: 0px;
}
.interactive-ui {
  display: inline-block;
  margin: 0px !important;
}
.api-response {
  width: 150px !important;
  margin-top: 0px !important;
}
.get-pos {
  margin-left: 12px !important;
  margin-top: 0px !important;
}
.demo-request {
  display: inline;
}
.schedule-time {
  margin-left: 20px;
}
.accept-demo-request {
  margin-left: 16px;
}
.code textarea {
  background: #553939 !important;
  color: #e2eb51 !important;
}
.interactive-pannel {
  position: absolute !important;
}
#capture {
  position: fixed;
  top: 122px;
  width: 400px;
  border: 1px solid black;
}
.result-inner {
  height: 185px;
  width: 100%;
  color: white;
  background: black;
  overflow: scroll;
  padding: 12px;
  font-size: 20px;
}

input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  margin-right: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.config-container label {
  font-size: 20px !important;
}
.scenario-result {
  width: 100%;
  min-height: 44px;
  background: black;
  margin-top: 6px;
  overflow: scroll;
  max-height: 200px;
  color: white;
  font-size: 20px;
  padding: 12px;
  min-height: 64px;
}
.bar_chart_header {
  font-size: 22px;
  color: #757575;
}
.final-result {
  border: 1px solid black;
  margin: auto;
  margin-top: 24px;
}
.final-result tr {
  border: 1px solid black;
}
.final-result td, th {
  border: 1px solid black;
  padding: 12px;
  text-align: center;
}
.report_link {
  display: none;
}
.report_link:first-child {
  display: block;
}
.scenario-btn-cont {
  height: 44px;
}
.loader img {
  width: 36px;
}
.test-scenario {
  border: 1px solid;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
}
.api-doc-form {
  padding: 12px;
  width: 100%;
  max-width: 700px;
}
.api-doc-form textarea {
  height: 700px !important;
}
.api-docs {
  width: 100%;
}
.api-doc-sidebar {
  width: 25%;
  float: left;
  padding: 0px !important;
}
.api-doc-content {
  width: 75%;
  float: right;
  padding: 22px;
}
.api-doc {
  padding: 12px;
  border: 1px solid black;
  background-color: blue;
  color: white !important;
  text-align: center;
  text-decoration: none;
  width: 100%;
  display: block;
}
.api-doc:hover {
  background-color: brown;
  color: yellow !important;
  text-decoration: none;
}
.api-doc.edit {
  padding: 3px 12px;
  background-color: green;
}
pre {
  display: block;
  font-size: 87.5%;
  border: 1px solid #e49f9f;
  background: #c4ca9e;
  padding: 12px;
  border-radius: 12px;
}