= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

= stylesheet_link_tag 'check'
.board
  .check
:javascript
  $(document).on('turbolinks:load', function() {
    $('.board').click((e) => {
      $('.check').css('top', `${e.originalEvent.layerY - 10}px`)
      $('.check').css('left', `${e.originalEvent.layerX - 10}px`)
    })
  })