.ide
  .code
    = simple_form_for(@test, html: {remote: true}) do |f|
      = f.input :code, input_html: {value: (@test.persisted? ? @test.code : Test.first.code)}
      = f.submit 'execute', class: 'submit-code'
  .result
    .result-status
      Result:
    .result-inner