
%img#capture

:javascript
  
  var socket = io.connect('http://61.2.141.215:3000');
  socket.on('image',(data)=>{
      const image = document.getElementById("capture");
      image.src = `data:image/jpeg;base64,${data}`;
  });
