.dashboard.default-content
  .ide
    .video-feedback
      = raw AppConfig.where(name: 'youtube_iframe').first.value
    .code
      = simple_form_for(@test, html: {remote: true}) do |f|
        = f.input :code
        = f.submit 'execute', class: 'submit-code'
    .result