.dashboard.default-content
  .pull-left.col-lg-3
    .ide
      = render partial: 'tests/video_feedback'
      .code
        = simple_form_for(@test, html: {remote: true}) do |f|
          = f.input :code
          = f.submit 'execute', class: 'submit-code'
      .result
  .pull-right.col-lg-9
    .interactive
