.side-panel.col-lg-4.pull-left
  
  - if true
    = render partial: 'tests/video_feedback_cv'
  - if false
    = render partial: 'tests/video_feedback'
  .clearfix
  = render partial: 'tests/ide'
  .clearfix
.interactive-pannel.col-lg-7.pull-right
  = render template: 'test_induviduals/test_induvidual_common_template'